dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
Bug
error.txt
output.txt
Bug.hs.stale_state
Bug.stale.hs
Bug.stale
Bug.old.hs
creduce_bug_*
Bug.hs.orig
