[submodule "ticket15696_3/containers"]
	path = ticket15696_3/containers
	url = https://github.com/haskell/containers.git
[submodule "ticket18140_3/protocol-buffers"]
	path = ticket18140_3/protocol-buffers
	url = https://github.com/k-bx/protocol-buffers.git
